.info_terremoto h2{
	font-weight: bold;
	font-size: 1.3em;
	padding:.2em 0;
}

.info_terremoto p small {
	display: inline;
	font-size: .9em;
	margin:0 .5em 0 0;
}

#mapaTerremotos img {

	width:300px;
}

#buscador .tag {
	margin:10px;
}

#listado .tag {
	margin-right:10px;
}


#mapaTerremoto{
	width:300px;
	height:300px;
	
}