

    <!-- pantall de detalle del terremoto -->
    <section id="detalle_terremoto" data-transition="slide">
        <header data-title="Detalle terremoto">
           <nav class="left" >
                <a href="#back"  data-router="section" data-icon="left"></a>
            </nav>
             <nav class="right">
                <a href="#second" data-router="section" data-icon="share" class="button"></a>
            </nav>
        </header>


           <article id="detalle_nombre" class="active list indented scroll">
            <ul>
                <li class="info_terremoto"> 
                   <a href="#" data-router="section" >
                        <div class="right tag blue">5.0</div>
                        <h2> TERREMOTO,P.N.G.</h2>
                        <p><small data-icon="calendar">11 Junio 2013 </small><small data-icon="clock">11:11:11 </small></p>
                        <br />
                        <div class="mas_info_terremoto">
                            <small>Magnitud: 2.1 </small>
                            <small>Region: 2.1 </small>
                            <small>Datatime: 2.1 </small>
                            <small>Location: 2.1 </small>
                        <div>  
                    </a>
                    <br />
                   <a href="#" data-icon="tag" > View more info</a>
                    <br />
                    <div id="mapaTerremotos"><img src="img/log_tapquo.png"></div>
                </li>    
            </ul>
            <div></div>
        </article>
          
  </section>    
    <!-- /pantall de detalle del terremoto -->
