    <!-- pantall de detalle del terremoto -->
    <section id="detalle_terremoto" data-transition="slide">
        <header data-title="Detalle terremoto">
           <nav class="left" >
                <a href="#back"  data-router="section" data-icon="left"></a>
            </nav>
             <nav class="right">
                <a href="#second" data-router="section" data-icon="share" class="button"></a>
            </nav>
        </header>


           <article id="detalle_nombre" class="active list indented scroll">
            <ul>
                <li class="info_terremoto"> 
                   <a href="#" data-router="section" >
                        <div class="right tag blue">5.0</div>
                        <h2> TERREMOTO,P.N.G.</h2>
                        <p><small data-icon="calendar"></small><small data-icon="clock"> </small></p>
                        <br />
                        <div class="mas_info_terremoto">
                           
                        <div>  
                    </a>
                    <br />
                   <a href="#" data-icon="tag" > View more info</a>
                    <br />
                   
                </li>    
            </ul>

           <div id="mapaTerremoto"></div>
        </article>
          
  </section>    
    <!-- /pantalla de detalle del terremoto -->
