
 <!-- pantalla de configuracion-->
    <section id="configuracion" data-transition="slide">
        <header data-title="Opciones">
           <nav class="left" >
                <a href="#back"  data-router="section" data-icon="left"></a>
            </nav>
             
        </header>


        <article id="op_config" class="active list indented scroll">
            <div class="form">
                
                <label>Auto refresh:</label>
                <input type="range" id="actualizar" class="checkbox right" min="0" max="1" value="1">
                
                <label class="select">
                    <select class="custom">
                        <option value="1">5 minutos</option>
                        <option value="2">15 minutos</option>
                        <option value="3">30 minutos</option>
                        <option value="4">1 hora</option>
                    </select>
                </label>
                <a href="#" class="button anchor cancel margin bottom">Reset Defaults</a>
            </div>
        </article>
    </section>
       <!-- /pantalla de configuracion-->    