
 <!-- pantalla de configuracion-->
    <section id="configuracion" data-transition="slide">
        <header data-title="Opciones">
           <nav class="left" >
                <a href="#back"  data-router="section" data-icon="left"></a>
            </nav>
             
        </header>


        <article id="op_config" class="active list indented scroll">
            <div class="form">
                
                <label>Auto refresh:</label>
                <label class="checkbox right">Si:</label>
                <input type="radio"  name="actualizar" id="actualizar" class="right" value="1" />
                <label class="check right">No:</label>
                <input type="radio" name="actualizar"  id="actualizar" class="right" value="0" /> 

                
                <label class="select">
                    <select class="custom">
                        
                        <option value="1">1 minuto</option>
                        <option value="2">5 minutos</option>
                        <option value="3">15 minutos</option>
                        <option value="4">30 minutos</option>
                        <option value="5">1 hora</option>
                    </select>
                </label>
                <a href="#" class="button anchor cancel margin bottom">Reset Defaults</a>
            </div>
        </article>
    </section>
       <!-- /pantalla de configuracion-->    